@page
@model Tecnopress.App.SitioWeb.Pages_Categoria.EditModel
@{
}
<h1 class="display-4" align="center">EDITAR CATEGORÍA</h1>
&nbsp;
&nbsp;

<!-- formulario de Actualizaxion de cliente -->
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <!-- atributo nombre -->
    <div class="form-group">
        <label asp-for="categoria.nombreCategoria" class="control-label"></label>
        <input asp-for="categoria.nombreCategoria" class=" form-control"/>
        <span asp-validation-for="categoria.nombreCategoria" class="text-danger"></span>
    </div>

    
    <!-- id -->
    <input type="hidden" asp-for="categoria.idCategoria"/>

    <!-- boton editar -->
    <div class="form-group">
        <input type="submit" value="Actualizar" class="btn btn-primary"/>
    </div>
</form>
