@page
@model Tecnopress.App.SitioWeb.Pages_Login.DeleteModel
@{
}
<h1 class="display-4" align="center">Eliminar Ingreso</h1>
&nbsp;
&nbsp;
<form method='post'>
    <!-- Asignar Id del cliente a borrar -->
    <input type="hidden" asp-for="login.idLogin" />
    <h3>¿ Está seguro de borrar el Ingreso @Model.login.direccionIp @Model.login.idLogin ?</h3>

    <input type="submit" value="Borrar" class="btn btn-danger" /> 
    <a asp-page="/Login/List">Devuelta a la lista</a>
</form>