@page
@model Tecnopress.App.SitioWeb.Pages_Usaurio.DeleteModel
@{
}
<h1 class="display-4" align="center">Eliminar Usuario</h1>
&nbsp;
&nbsp;
<form method='post'>
    <!-- Asignar Id del cliente a borrar -->
    
    <input type="hidden" asp-for="usuario.idUsuario"/>
    <h3>¿ Está seguro de borrar el Usuario @Model.usuario.users ?</h3>

    <input type="submit" value="Borrar" class="btn btn-danger" /> 
    <a asp-page="/Usuario/List">Devuelta a la lista</a>
</form>