@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="text-center">
    <h1 class="display-4">TECNOPRESS S.A</h1>
    <a href="https://www.gifsanimados.org/cat-bandera-de-colombia-801.htm"></a><img src="https://www.gifsanimados.org/data/media/801/bandera-de-colombia-imagen-animada-0009.gif" border="0" alt="bandera-de-colombia-imagen-animada-0009"/></a>
    <p>Somos la Empresa Numero 1 en Colombia en Desarrollo de Aplicaciones Tecnologicas</p>
    
</div>
