/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-edmk0gabwy] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-edmk0gabwy] {
  color: #63f537;
}

.btn[b-edmk0gabwy] {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #28f0d5d3;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary[b-edmk0gabwy] {
  color: rgb(24, 245, 197);
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-edmk0gabwy], .nav-pills .show > .nav-link[b-edmk0gabwy] {
  color: rgb(185, 43, 241);
  background-color: #1b6ec2;
  border-color: #1be91b;
}

.border-top[b-edmk0gabwy] {
  border-top: 1px solid #63f310;
}
.border-bottom[b-edmk0gabwy] {
  border-bottom: 1px solid #0df30d;
}

.box-shadow[b-edmk0gabwy] {
  box-shadow: 0 .25rem .75rem rgba(30, 245, 145, 0.966);
}

button.accept-policy[b-edmk0gabwy] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-edmk0gabwy] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
